.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  display: block;
  margin-top: 10px;
}
.card-container.card {
  max-width: 350px !important;
  padding: 20px 20px;
}
.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 100px;
  margin-bottom: 100px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
h2{
  text-align: center;
  
}
body{
  background-color:#e7e7e7
}
label {
  font-family: 'Roboto' , sans-serif;
  font-size: 15px;
  font-weight: lighter;
}
.font-weight-bold{
  font-size: 30px;
}
.jumbotron {
  margin-top: 90px;
}
a{
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}
a:hover{
  background: rgba(0, 0, 0, 0.3);
}
.focus:focus{
  color: royalblue;
}
.logotaxi{
  width: 350px;
  height: 350px;
  margin-top: 80px;
  margin-left: 30%;

}
.row{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.compte{
  color: #282c34;
}